<h1>Editing tulpa user</h1>

<%= render "form", tulpa_user: @tulpa_user %>

<br>

<div>
  <%= link_to "Show this tulpa user", @tulpa_user %> |
  <%= link_to "Back to tulpa users", tulpa_users_path %>
</div>
