<div id="<%= dom_id user_info_detail %>">
  <p>
    <strong>Text:</strong>
    <%= user_info_detail.text %>
  </p>

  <p>
    <strong>User info:</strong>
    <%= user_info_detail.user_info_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= user_info_detail.category_id %>
  </p>

</div>
