<h1>Editing user info detail</h1>

<%= render "form", user_info_detail: @user_info_detail %>

<br>

<div>
  <%= link_to "Show this user info detail", @user_info_detail %> |
  <%= link_to "Back to user info details", user_info_details_path %>
</div>
