<p style="color: green"><%= notice %></p>

<h1>User info details</h1>

<div id="user_info_details">
  <% @user_info_details.each do |user_info_detail| %>
    <%= render user_info_detail %>
    <p>
      <%= link_to "Show this user info detail", user_info_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New user info detail", new_user_info_detail_path %>
